.newsList{
    width: 100%;
    height: 160px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
    border-radius: 25px;
}

.separator{
    width: 100%;
    height: 150px;
    background-color: black;
    float: left;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 50px;
}

