* {
    box-sizing: border-box;
  }

body{
    font-family: Arial;
    margin : 0;
}

article{
    width: 44%;
    height: fit-content;
    float: left;
    padding: 10px;
    text-align: center;
    margin: 0;
}

article2{
    width: 80%;
    height: fit-content;
    float: left;
    padding: 10px;
    text-align: center;
}

kosong2{
    width: 10%;
    height: auto;
    float: left;
    padding: 10px;
}
kosong{
    width: 28%;
    height: auto;
    float: left;
    padding: 10px;
}


.head h6{
    font-size: 15px;
    top: 0px;
}

header{
    text-align: left;
    padding-left: 5%;
    padding-top: 200px;
    font-size: 60px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center;
    color: white;
    background-attachment: fixed;
}

input, select{
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 5px;
    border: 2px solid rgb(0, 195, 255);
    font-size: large;
}

select:invalid{
    color: gray;
}
input:focus{
    border: 2px solid rgb(230, 230, 230);
}

section:after {
    content: "";
    display: table;
    clear: both;
  }


button{
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    border: 2px solid rgb(0, 195, 255);
}
button:hover{
    background-color: rgb(0, 195, 255);
    color: white;
}
/*navbar*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    opacity: 60%;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #4CAF50;}
  
  ul.topnav li.right {float: right;}

.diam{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
/*Kuliner*/
.container{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 75px 200px;
    background-color: black;
    top: 0px;
}
.container img {
    float: left;
}
.container p{
    position: absolute;
    color: White;
    font-size: 35px;
    transform: translate(25px, 190px);
}
.kotak {
    text-shadow: 2px 2px #000000;
    padding-top: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    width: 100%;
    height: 160px;
    color:white;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
}
/*Ticketing*/
.kotak_besar {
    margin-top: 30px;
    height: auto;
    line-height: 100%;
    border-radius: 8px;
    background-color:rgb(219, 219, 219);
    padding: 10px;
}
.kotak_kecil {
    width: 22%;
    height: 350px;
    background-color:rgb(175, 175, 175);
    float: left;
    border-radius: 10px;
    margin: 20px;
}
.kotak_kecil img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 73%;
}
.kotak_logo {
    float: left;
    margin-top: 10%;

}
.kotak_logo img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

/*Footer*/
footer {
    background-color: #1C2A34;
    text-align: center;
    color: white;
  }

hr{
    width: 30%;
    margin: 0 auto;
    width: 850px;
    background-color: white;
}

.isian{
    width: 33%;
    font-style: bold;
    float: left;
    font-size:20px;
    color: white;
}

.news{
    text-shadow: 2px 2px #000000;
    width: 50%;
    height: 500px;
    float: left;
    background-position: center;
    color: white;
    text-decoration: none;
    padding-top: 370px;
    padding-left: 30px;
    text-align: left;

}

.copy{
    font-size: 15px;
    text-align: center;
    clear: both;
    color: white;
    height: 0px;
    background-color: black;
}
/*responsive*/
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
